RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://musica.chivoexpiatorio.com/$1 [R=301,L]

RewriteRule ^([0-9]+)-([a-zA-Z0-9-_]+)$ index.php?action=ver&id=$1
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9-_]+)\.html$ index.php?action=$2&t=$1

